/*BILLAR*/
.cards-presentation{
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
  }
.pres img{
  width: 500px;
  height: auto;
}

.cards-presentation .content{
  display: flex;
  flex-direction: row;
}

.cards-presentation .info{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 20px;
}

.cards-presentation h2{
  font-size: 70px;
}
.cards-presentation p{
  font-size: 25px;
}

