<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Más Información sobre Clases de Billar</title>
  <link rel="stylesheet" href="./stylessRedirecciontiposbillar.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>¡Bienvenido a las Clases de Billar!</h1>
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="indexx.html">¡Vamos a gestionar tu Registro!</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="informacion">
      <h2>Más Información sobre Clases de Billar</h2>
      <p>Aquí encontrarás información detallada sobre nuestras clases de billar. ¡Esperamos verte pronto!</p>
      <h3>Videos de Clases de Billar:</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/watch?v=7kTYTZuATJ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/watch?v=7kTYTZuATJ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
    
  </main>

  <footer>
    <p>&copy; 2023 Clases de Billar. Todos los derechos reservados.</p>
  </footer>
</body>

</html>
