#contenedor-head{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#head-title{
    font-size: 6rem;
}
#head-phrase{
    font-size: 2rem;
}

#contenedor-goals{
    margin-left: 5%;
    margin-right: 10% ;
    margin-top: 1%;
    background-color: antiquewhite;
    width: 30cm; 
    height: 11cm;  
    border: 1px solid #ccc; 
    border-radius: 8px;
}
#contenedor-goals{
    display: flex;
    flex-direction: row;
}
#contenedor-goals #metas {
    background-color: red;
    height: auto;
    width: 59rem;

    display: flex;
    justify-content: left;
}

#contenedor-goals #opciones{
    background-color: yellow;
    padding-left: 1cm;
    padding-right: 1cm;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-left: 1px solid rgb(219, 207, 190);
}

