<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Billar</title>
    <link th:href="@{/css/Cbillar.css}" rel="stylesheet"/>
    <!-- si no, <link href="css/Cbillar.css  y asi tambien para los otros (recuerda que no se si se aplico el css)..."-->
</head>
<body>
    <header>
        <h1>Curso de Billar</h1>
    </header>

    <section class="caracteristicas">
        <h2>Características del Curso</h2>
        <ul>
            <li>Enfoque en Estrategia y Táctica</li>
            <li>Aprendizaje Personalizado</li>
            <li>Instructores Experimentados</li>
            <li>Enfoque Práctico</li>
        </ul>
    </section>

    <section class="temas">
        <h2>Temas de Aprendizaje</h2>
        <ul>
            <li>Técnicas de Golpeo</li>
            <li>Reglas Básicas del Juego</li>
            <li>Estrategias de Juego</li>
            <li>Patrones de Juego</li>
            <li>Sistemas de Juego</li>
        </ul>
    </section>

    <section class="costo">
        <h2>Costo del Curso</h2>
        <p>El curso tiene un costo de $250 USD e incluye todos los materiales y herramientas necesarias.</p>
    </section>

    <section class="fotos">
        <h2>Imagenes</h2>
        <img src="img/billar1.png" alt="Foto 1">
    </section>

    <section class="Video">
        <h2>Inicia</h2>
        <video width="640" height="360" controls>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/tTw0qhlvgOA" title="Aprende a jugar al billar en poco tiempo | El tutorial más fácil para principiantes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </video>
        
    </section>

    <section class="Adentrate">
        <h2>Adentrate</h2>
        <a href="Pago.html">Clic</a>
    </section>

    <footer>
        <p>&copy; 2023 Curso de Billar</p>
    </footer>
</body>
</html>
