<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Costura</title>
    <link th:href="@{/css/Ccostura.css}" rel="stylesheet"/>
    <!-- si no, <link href="css/Ccostura.css  y asi tambien para los otros (recuerda que no se si se aplico el css)..."-->
</head>
<body>
    <header>
        <h1>Curso de Costura</h1>
    </header>

    <section class="caracteristicas">
        <h2>Características del Curso</h2>
        <ul>
            <li>Aprende técnicas básicas y avanzadas de costura</li>
            <li>Clases prácticas y demostraciones en vivo</li>
            <li>Asesoría personalizada de profesionales de la costura</li>
            <li>Materiales y herramientas incluidos</li>
        </ul>
    </section>

    <section class="temas">
        <h2>Temas de Aprendizaje</h2>
        <ul>
            <li>Introducción a la máquina de coser</li>
            <li>Puntadas básicas y avanzadas</li>
            <li>Patrones y toma de medidas</li>
            <li>Confección de prendas</li>
            <li>Arreglos y modificaciones</li>
        </ul>
    </section>

    <section class="costo">
        <h2>Costo del Curso</h2>
        <p>El curso tiene un costo de $200 USD e incluye todos los materiales y herramientas necesarias.</p>
    </section>

    <section class="fotos">
        <h2>Imagenes</h2>
        <img src="img/Costuraro.png" alt="Foto 1">
    </section>

    <section class="Video">
        <h2>Inicia</h2>
        <video width="640" height="360" controls>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/ekNfxWFwgBA" title="Costura desde cero- clase 1😍👖🩳👚👙👗" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            Tu navegador no soporta la reproducción de video.
        </video>
        
    </section>

    <section class="Adentrate">
        <h2>Adentrate</h2>
        <a href="Pago.html">Clic</a>
    </section>

    <footer>
        <p>&copy; 2023 Curso de Costura</p>
    </footer>
</body>
</html>
