<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Curso de Adiestramiento</title>
    <link th:href="@{/css/Cperros.css}" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Curso de Adiestramiento</h1>
    </header>

    <section>
        <h2>Características del curso</h2>
        <p>Nuestro curso de adiestramiento de perros se destaca por:</p>
        <ol>
            <li>
                <strong>Metodología:</strong>Se basa en métodos de adiestramiento reconocidos y éticos.
            </li>
            <li>
                <strong>Enfoque Personalizado:</strong> Adaptamos el programa de adiestramiento según las necesidades individuales de cada perro y su dueño.
            </li>
            <li>
                <strong>Variedad de Ejercicios Prácticos:</strong> Incorporamos ejercicios prácticos y actividades que fortalecen la relación entre el dueño y su mascota.
            </li>
            <li>
                <strong>Apoyo Continuo:</strong> Ofrecemos asesoramiento y seguimiento incluso después de finalizar el curso, para garantizar el éxito en el adiestramiento.
            </li>
        </ol>
    </section>

    <section>
        <h2>Temas de aprendizaje</h2>
        <ul>
            <li>
                <strong>Obediencia Básica:</strong> Enseñanza de órdenes básicas como "sentado", "quieto", "venir", y "quedarse".
            </li>
            <li>
                <strong>Control de Conducta:</strong> Estrategias para manejar comportamientos no deseados como ladridos excesivos, mordisqueo, etc.
            </li>
            <li>
                <strong>Sociabilización:</strong> Métodos para socializar adecuadamente a los perros con otras mascotas y personas.
            </li>
            <li>
                <strong>Técnicas de Refuerzo Positivo:</strong> Uso de recompensas y refuerzos positivos para fortalecer el buen comportamiento.
            </li>
            <li>
                <strong>Ejercicios Prácticos:</strong> Prácticas de campo para aplicar las lecciones aprendidas en situaciones del día a día.
            </li>
        </ul>
    </section>
    <iframe width="320" height="560" src="https://www.youtube.com/embed/Cw38ABCc60Y" title="Toky" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    
    <footer>
        <h2>Contacto</h2>
        <a class="btn-pago" href="Pago.html">Ir al Pago</a>
        <p>Para más información o inscripciones, contáctanos:</p>
        <ul>
            <li>Dirección: Cll 166</li>
            <li>Teléfono: 31882833</li>
            <li>Correo electrónico: info@adiestramientodeperros.com</li>
        </ul>
    </footer>
    
</body>
</html>
