
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
            margin: 0;
        }

        .error-container {
            text-align: center;
        }

        .error-message {
            font-size: 24px;
            color: #ff0000; /* Color rojo para resaltar el mensaje de error */
        }
    </style>
</head>
<body>
    <div class="error-container">
        <p class="error-message">¡Contraseña incorrecta! Algo salió mal.</p>
        <!-- Puedes personalizar este mensaje según tus necesidades -->
        <!-- Incluir enlaces o botones para redirigir al usuario según sea necesario -->
    </div>
</body>
</html>