<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/save}" th:object="${user}" method="POST">
        <input type="text"     placeholder="Correo"     th:field="${user.correo}">
        <input type="text"     placeholder="Nombre"     th:field="${user.nombre}">
        <input type="text"     placeholder="Apellido"   th:field="${user.apellido}">
        <input type="password" placeholder="Contraseña" th:field="${user.password}">
        <input type="Submit"                            th:value="Registrar">
    </form>
</body>
</html>