<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{./css/signin.css}" rel="stylesheet" />
   
</head>
<body class="cuerpo">

    <form th:action="@{/signin}" th:object="${signinForm}" method="post" class="formulario">
    <p>Correo <input type="email" name="correoId" class="correo"></p>

    <p>Contraseña <input type="password" name="password" class="contra"></p>

    <p> <input type="submit" value="Sign In" class="registro"></p>
    </form>
</body>
</html>